.detail-sidebar-container {
    display: grid;
        width: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 50%);
}

.detail-sidebar-container > div {
    border: 1px solid red;
}

.detail-sidebar-portrait {
    grid-row: 1;
}

.detail-sidebar-stats {
    grid-row: 2;
}