.ui-footer-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3);
}

.ui-footer-container > div {
    border: 1px solid red;
}

.ui-footer-left {
    grid-column: 1;
}

.ui-footer-center {
    grid-column: 2;
}

.ui-footer-right {
    grid-column: 3;
}